@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	background: #d5d5d5;
	font-size:2em;
	font-weight: bold;
	text-shadow: 0 0 4px rgba(0,0,0,0.3);

}

p{
	font-size:2em;
}

label{
	display:block;
}